{% load static %}

<aside class="sidebar">

    <!-- LOGO -->
    <div class="sidebar-logo">

        <img src="{% static 'images/logo.png' %}" alt="BantayBarangay">

        <div>
            <h2>BantayBarangay</h2>
            <span>Barangay Management</span>
        </div>

    </div>


    <!-- NAVIGATION -->
    <nav class="sidebar-nav">

        <!-- MAIN -->
        <div class="nav-section">

            <span class="nav-title">
                Main
            </span>


            <a href="{% url 'dashboard' %}" class="nav-item">

                <span>▦</span>

                Dashboard

            </a>


            <a href="{% url 'complaints' %}" class="nav-item">

                <span>⚠</span>

                Complaints

            </a>


            <a href="{% url 'resident_list' %}" class="nav-item">

                <span>♟</span>

                Residents

            </a>


            <a href="{% url 'document_list' %}" class="nav-item">
                <span>▣</span>
                Documents
            </a>


            <a href="{% url 'blockchain_logs' %}" class="nav-item">

                <span>◇</span>

                Blockchain Logs

            </a>


            <a href="#" class="nav-item">

                <span>▥</span>

                Reports & Analytics

            </a>

        </div>


        <!-- SYSTEM -->
        <div class="nav-section">

            <span class="nav-title">
                System
            </span>


            <a href="#" class="nav-item">

                <span>⚙</span>

                Settings

            </a>


            <a href="#" class="nav-item">

                <span>♙</span>

                User Management

            </a>

        </div>

    </nav>


<!-- BOTTOM -->
<div class="sidebar-bottom">

    <a href="#"
       class="nav-item">

        <span>?</span>

        Help & Support

    </a>


    <a href="{% url 'logout' %}"
       class="nav-item logout">

        <span>↪</span>

        Sign Out

    </a>

</div>

</aside>